extends layout

block content
  section.section.main
    .container.is-fluid
      .columns.is-desktop
        .column.is-narrow.is-5#canvas-container
          #draft
            .draft-container#draft-container-0
            .draft-container#draft-container-1
            .draft-container#draft-container-2
            .draft-container#draft-container-3
            .draft-container#draft-container-4
            .draft-container#draft-container-5
            .draft-container#draft-container-6
            .draft-container#draft-container-7
            .draft-container#draft-container-8
            .draft-container#draft-container-9
            .draft-container#draft-container-10
          canvas#canvas1(width='500', height='700')
          canvas#finalCanvas(width='1000', height='1400')
        .column
          .level
            .level-item
              .field.is-horizontal
                .field-label
                  label.label Formation:
                .field-body
                  .select
                    select#formationSelect
                      option(value='3412') 3-4-1-2
                      option(value='3421') 3-4-2-1
                      option(value='343') 3-4-3
                      option(value='352') 3-5-2
                      option(value='41212a') 4-1-2-1-2 (a)
                      option(value='41212b') 4-1-2-1-2 (b)
                      option(value='4141') 4-1-4-1
                      option(value='4222') 4-2-2-2
                      option(value='4231a') 4-2-3-1 (a)
                      option(value='4231b') 4-2-3-1 (b)
                      option(value='4312') 4-3-1-2
                      option(value='4321') 4-3-2-1
                      option(value='433a', selected='') 4-3-3 (a)
                      option(value='433b') 4-3-3 (b)
                      option(value='433c') 4-3-3 (c)
                      option(value='433d') 4-3-3 (d)
                      option(value='433e') 4-3-3 (e)
                      option(value='4411') 4-4-1-1
                      option(value='442a') 4-4-2 (a)
                      option(value='442b') 4-4-2 (b)
                      option(value='451a') 4-5-1 (a)
                      option(value='451b') 4-5-1 (b)
                      option(value='5212') 5-2-1-2
                      option(value='5221') 5-2-2-1
                      option(value='532') 5-3-2
            .level-item
              .field.is-horizontal
                .field-label
                  label.label Title:
                .field-body
                  input.input#formation-title(type='text')
            .level-item
              a.button.is-primary.is-rounded#download Download Image
          .tool
            .columns.is-mobile.tool-headings
              .column.is-1
                span.tool-heading Position
              .column.is-6
                span.tool-heading Search
              .column.is-4-tablet.is-3-mobile
                span.tool-heading Player Name
              .column.is-1-tablet.is-2-mobile
                span.tool-heading Remove
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
            .columns.is-mobile.position
              .column.is-1
                span.position-label
              .column.is-6.search-level
                select.search-entity(placeholder='', style='width:100%')
              .column.is-4-tablet.is-3-mobile.search-selected
              .column.is-1-tablet.is-2-mobile
                a.delete.is-medium.remove-player
          .level
            .level-item
              a.button.is-info.is-rounded.toggleModal Save/Load Formation Data
  .modal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title.has-text-centered Save/Load Formation Data
        button.delete.toggleModal(aria-label='close')
      section.modal-card-body
        // Content ...
        .columns
          .column
            h3  Save Current Data
            p In order to save the current formation (players, formation and title), click the button below to download a small #[span.has-text-weight-bold createFormation.txt] file containing all the necessary data.
            .has-text-centered
              a.button.is-info.is-rounded#saveFormation Save Formation Data
          .column
            h3  Load Data
            p When you are ready to continue your work, copy and paste below the content of the #[span.has-text-weight-bold createFormation.txt] file you previously downloaded. 
            i WARNING! The current formation will be cleared of all data.
            textarea.textarea#formationDataHolder(cols='40', rows='10')
            .has-text-centered
              a.button.is-info.is-rounded#loadFormation Load Formation Data
      footer.modal-card-foot
        .has-text-right
          a.button.toggleModal Close
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascripts/select2.min.js')
  script(src='/javascripts/formations.js')
  script(src='/javascripts/main.js')
