extends layout

block content
  section.section.main
    .container.is-fluid
      .columns.is-desktop
        .column
          h1  Feedback
          h3  Tell me about:
          ul
            li  Your favorite formations
            li  Ideas for new features.
            li  Any bug or problem that you may encounter.
            li  Any opportunity for cooperation between me and you.
          .form-wrapper
            form#contact.form(name='contact', method='post')
              fieldset
                .field
                  label.label(for='name') Name
                  .control
                    input#name.input(type='text', name='name', value='', placeholder='Name', required='')
                .field
                  label.label(for='email') Email
                  .control
                    input#email.input(type='email', name='email', placeholder='Email', required='')
                .field
                  label.label Message
                  .control
                    textarea#message.textarea(name='message', required='', rows='8', placeholder='Drop me a line...')
                .field.is-grouped
                  .control
                    button#submit.button.is-link Submit

        .column
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
  script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js')
  script(src='/javascripts/feedback.js')
