extends layout

block content
  section.section.main
    .container.is-fluid
      .columns
        .column.is-half
          .columns
            .column.is-half.image.example-img
              img(src='/images/formation-example.png')
            .column.is-half.image.example-img
              img(src='/images/barcelona.png') 
        .column.has-text-centered.box
          h1.title.is-2.is-spaced Create your own Football Formation
          h2.subtitle.is-5 Choose your favorite players to form your squad
          h2.subtitle.is-5 The only formation creator with photos of all players
          a.button.main-button.is-large.is-primary(href='/create') Create Formation
  section.section.main
    .container.is-fluid
      .columns
        .column.has-text-centered.box
          h1.title.is-2.is-spaced Download your squad for free and share it with your friends
          h2.subtitle.is-5 Choose your favorite players to form your squad
          h2.subtitle.is-5 The only formation creator with photos of all players
          a.button.main-button.is-large.is-primary(href='/create') Create Formation
        .column.is-half
          .columns
            .column.is-half.image.example-img
              img(src='/images/formation-example.png')
            .column.is-half.image.example-img
              img(src='/images/barcelona.png') 
          
        
                  
















  script(src='/javascripts/navbar.js')
