doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Create your own Football Formation with Player Photos
  meta(name='title', content='Create your own Football Formation with Player Photos')
  meta(name='description', content='Make your own football lineup with player photos. A free squad builder that lets you create a team with your selected player portraits.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(property='og:title', content='Create your own Football Formation with Player Photos')
  meta(property='og:type', content='website')
  meta(property='og:description', content='Make your own football lineup with player photos. A free squad builder that lets you create a team with your selected player portraits.')
  meta(property='og:image', content='http://www.createformation.com/images/og_image.jpg')
  meta(property='og:image:type', content='image/jpeg')
  meta(property='og:image:width', content='1500')
  meta(property='og:image:height', content='700')
  meta(name='google-site-verification', content='Q79r2HZjuAR71t6HmvwQUK_-WiWUJi95dSDZ0-C4JuA')
  meta(name='theme-color', content='#00d1b2')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&amp;subset=latin-ext')
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
  link(rel='stylesheet', href='/stylesheets/main.css')
  script(src='/javascripts/modernizr-2.8.3.min.js')
  link(rel='stylesheet', href='/stylesheets/select2.min.css')
//if lt IE 8
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
body
  nav.navbar.is-dark(role='navigation')
    .navbar-brand
      a.navbar-item(href='/') 
        img.logo(src='/images/logo.png') 
        span.site-title Create Formation
        span.beta BETA
      .navbar-burger(data-target='navMenu')
        span
        span
        span 
    .navbar-menu#navMenu
      .navbar-end
        .navbar-item
          a.button.is-primary.is-large(href='create') Create Formation
        //a.navbar-item(href='showcase') Showcase
        //a.navbar-item(href='feedback') Feedback
  block content
  script(src='/javascripts/navbar.js')
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-58176163-10')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-58176163-10');
