extends layout

block content
  section.section.main
    .container.is-fluid
      .columns.is-desktop
        .column
          h2.title.is-5 A list of all the players with Legend status, in case you are wondering who is available on the app's database. You can also search or sort the below table by player name or position.
          table.table.is-striped.is-narrow(data-filtering="true",data-sorting="true",data-paging="true")
            thead
              tr
                th #
                th Name
                th Position
            tbody
              each p, index in result
                tr
                  th #{index + 1} 
                  td #{p.text}
                  td #{p.pos}
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
  script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js')
  script(src='/javascripts/footable.min.js')
  script.
    $(document).ready(function() {
      $('.table').footable({
        "paging": {
          "size": 30
        }
      });
    });
