body, button, input, select, textarea {
  font-family: 'Fira Sans', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
html {
  font-size: 14px;
  overflow-x: auto;
}

#canvas1 {
  display: none;
}
.section-bg {
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box {
  box-shadow: none;
}

.beta {
  font-size: 75%;
  font-weight: 700;
  background-color: #ca2626;
  padding: 0px 3px 0px;
  border-radius: 5px;
  margin-left: 2px;
  margin-top: -15px;
}

.position-label {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.navbar .button.is-large {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.button.is-primary {

}
.logo {
  margin-right: 10px;
}

.site-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d6d6d6;
}

.tool-heading {
  font-size: 90%;
  text-transform: uppercase;
  color: #363636;
}

.position {
  padding: 4px;
  margin-left: 0;
  margin-right: 0;
}
.tool {
  box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
  padding: 5px 10px;
}
.tool-headings {
  padding: 0 20px 0 10px;
  text-align: center;
}
.position.focused {
  box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
}

.search-selected {
  text-align: center;
  font-weight: 700;
}
.navbar-brand, .navbar-tabs {
  min-height: 2rem;
}

@media screen and (min-width:1024px) {
  .navbar {
    min-height: 2rem;
  }

}

@media screen and (max-width:768px) {
  section.main {
    padding: 3rem .5rem;
  }
  .tool {
    padding: 0;
  }
}

section.main {
  background: #f3f3f3;
}

.player-img {
  max-width: 90px;
  margin: 0 auto;
  display: block;
}

.footer {
  background-color: #363636;
  padding: 1.5rem 1.5rem 4rem;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 40px;
  height: 40px;
  line-height: 35px;
  margin: 0 10px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: right;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #D8E2DC;
  transition: all 0.5s ease;
  font-size: 1.25em;
}

.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

@media screen and (max-width: 640px){
  .wrapper {
    width: 350px;
  }
  .wrapper ul li{
    margin-top: 10px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
    width: 150px;
  }
  .wrapper ul li{
    margin:15px;
  }
}

.modal-card-body h3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

fieldset {
  border: none;
}

#draft {
  width: 100%;
  height: 700px;
  background-image: url('../images/field.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
}

@media screen and (max-width: 768px) {
  #draft {
    max-width: 500px;
  }
}

.draft-container {
  position: absolute;
}

.draft-pos {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px #fff solid;
  color: #fff;
  display: flex;
  font-family: system-ui;
  align-items: center;
  justify-content: center;
  top: 30px;
  position: absolute;
  left: 30px;
}

.draft-pos.focused {
  box-shadow: 0px 0px 9px 3px rgb(220, 220, 220);
  border: 1px solid red;
}

.draft-img {
  width: 100px;
  height: 100px;
}

.draft-label {
  background: #444444;
  color: #fff;
  width: 90px;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 5px;
}

#draft-title {
  background-color: #444;
  padding: 2px 5px;
  color: #f0f600;
  font-family: Fira Sans;
}

.extra-options {
  padding-top: 20px;
}