.position-label {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.logo {
    margin-right: 10px;
}

.site-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #d6d6d6;
}

.position:not(:last-child) {
    margin-bottom: 1rem;
}

.position {
    padding: 4px;
}

.position.highlight {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
    -moz-box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
    box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
}

.search-level {
    margin-left: 20px;
}

.navbar-brand, .navbar-tabs {
    min-height: 2rem;
}

@media screen and (min-width:1024px) {
    .navbar {
        min-height: 2rem;
    }

}

section.main {
    background: #f3f3f3;
}

.player-img {
    max-width: 90px;
    margin: 0 auto;
    display: block;
}